.faq-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.student-icon, .tvgirl-icon, .therapist-icon, .sailor-icon, .demon-icon, .detective-icon, .receptionist-icon {
    margin-right: 10px;
}

.student-speech-bubble, .tvgirl-speech-bubble, .therapist-speech-bubble, .sailor-speech-bubble, .demon-speech-bubble, .detective-speech-bubble, .receptionist-speech-bubble {
    position: relative;
	background: #f1f1f1;
	border-radius:.4em;
    padding: 10px 15px;
    max-width: 1000px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.student-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.tvgirl-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.therapist-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}


.sailor-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.demon-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.detective-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.receptionist-speech-bubble::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f1f1f1;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}